# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/client/coverage

# production
/client/build
# ABI location
/client/src/contracts
# Contract typings
/client/src/lib/contracts

# misc
.DS_Store

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.node-xmlhttprequest-sync-*
scTopics
allFiredEvents
in_complete_tests
coverage
coverageEnv
coverage.json
.coveralls.yml
local_*
bindings.go
types
build
