.exchange {
    $padding-top: 100px;
    min-height: calc(100vh - 100px - #{$padding-top});

    >div {
        margin-top: 100px;
    }

    @media(max-width: $max-md) {
        padding: 0 20px;
    }

    @media(min-width: $min-lg) {
        width: 470px;
        margin: 0 auto;
    }
}

.exchange-inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;

    @media(max-width: $max-md) {
        flex-flow: column;

        >* {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}


.exchange--center {
    flex-grow: 1;

    @media(max-width: $max-md) {
        order: -1;
        padding: 0 20px;
    }
}

.connect-button {
    border: 1.6px solid #006FE8 !important;
    font-weight: 500 !important;
}