.history .history--banner {
    border-bottom: 2px solid #DBE0E8;
    padding-left: 20px;
    margin-bottom: 20px;

    span {
        color: #006FE8;
        font-size: 12;
        font-weight: 500;
        border-bottom: 2px solid #006FE8;
    }
}


.history .swap--history--entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 22px;
    border: 1px solid #DBE0E8;
    box-shadow: 0 1px 2px 0 rgba(0, 27, 58, 0.05);

    font-size: 12;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;

    .token--info {
        display: flex;
        align-items: center;
    }

    .received--text {
        color: #9FA0A5;
        margin-left: 10px;
        margin-right: 7px;
    }

    .token--amount {
        color: #58585B;
    }

    .swap--time {
        margin-right: 7px;
        color: #979797;
    }
}

.history--txs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history--txs>a {
    border: 0.5px solid #eee;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 7px;
    }

    .loading:after {
        border: 1px solid;
        border-color: #555 transparent #555 transparent;
    }

    &.tx-in {
        transform: rotate(-45deg);

        svg path {
            fill: #555;
        }

        border-color: #555;

        margin-right: 7px;
    }

    &.tx-out {
        transform: rotate(45deg);

        svg path {
            fill: $blue-bright;
        }

        border-color: $blue-bright;
    }
}

.history--pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history--pages button {
    background: white;
    border: 1px solid #ddd;
    border-radius: 100px;
    min-width: unset;
    width: 35px;

    &:disabled {
        border: 1px solid #f0f0f0;

        svg {
            fill: #ddd;
        }
    }

    svg {
        width: 10px;
    }
}

.history--page-count {
    text-transform: uppercase;
    color: #555;
    font-size: 10px;
}

.tx-pending {
    border: none;
}

.tx-pending--solid {
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.tx-pending:after {
    content: ' ';
    // display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid;
    animation: tx-pending 1.2s linear infinite;
    // border-color: #555 transparent #555 transparent;
    border-color: $blue-bright transparent $blue-bright transparent;
}

@keyframes tx-pending {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swap--progress {
    @extend .token--icon;
    height: 20px;
    width: 20px !important;
}