.history {
    margin-top: 25px;
}

.history .history--banner {
    border-bottom: 1px solid transparentize(#E0E3EB, 1 - 0.1);
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;



    span {
        color: $blue-bright;
        font-size: 12;
        font-weight: 500;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9195A0;
    }
}


.history .swap--history--entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 22px;
    border: 1px solid $grey-7;
    background: #282C35;
    box-shadow: 0px 1px 4px rgba(0, 26, 58, 0.05);
    border-radius: 22px;

    font-size: 12;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;

    .token--info {
        display: flex;
        align-items: center;
    }

    .received--text {
        color: $grey-10;
        margin-left: 10px;
        margin-right: 7px;
    }

    .token--amount {
        color: $grey-12;
    }

    .swap--time {
        margin-right: 7px;
        color: $var4;
    }
}

.history--txs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history--txs>a {
    border: 0.5px solid $grey-6;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 7px;
    }

    .loading:after {
        border: 1px solid;
        border-color: $var5 transparent $var5 transparent;
    }

    &.tx-in {
        transform: rotate(-45deg);

        svg path {
            fill: $var5;
        }

        border-color: $var5;

        margin-right: 7px;
    }

    &.tx-out {
        transform: rotate(45deg);

        svg path {
            fill: $blue-bright;
        }

        border-color: $blue-bright;
    }
}

.history--pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history--pages button {
    background: $grey-1;
    border: 1px solid $var6;
    border-radius: 100px;
    min-width: unset;
    width: 35px;

    &:disabled {
        border: 1px solid $var7;

        svg {
            fill: $var6;
        }
    }

    svg {
        width: 10px;
    }
}

.history--page-count {
    text-transform: uppercase;
    color: $var5;
    font-size: 10px;
}

.tx-pending {
    border: none;
}

.tx-pending--solid {
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.tx-pending:after {
    content: ' ';
    // display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid;
    animation: tx-pending 1.2s linear infinite;
    // border-color: $var5 transparent $var5 transparent;
    border-color: $blue-bright transparent $blue-bright transparent;
}

@keyframes tx-pending {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swap--progress {
    @extend .token--icon;
    height: 20px;
    width: 20px !important;
}

.button--plain {
    background: none;
    border: none;
    color: $blue-bright;
    padding: 0;
    margin: 0;
    height: auto;
}