.overlay {
    display: block;
    background-color: transparentize($color: $grey-1, $amount: 0.1);
    // top: 120px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.popup--outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    width: 100vw;
    left: 0;
    z-index: 20;
}

.popup {
    max-width: 94vw;
    color: $grey-12;
    background-color: $grey-1;
    border-radius: 12px;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;
}

.popup--header {
    background: $blue-bright;
    padding: 10px;
    width: 100%; // calc(100% - 20px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popup--body {
    padding: 20px;
}

.popup--header h2 {
    color: $grey-1;
    margin: 0;
    font-weight: 500; // used to be 600
    font-size: 15px;
    text-align: center;
}

.popup--x {
    position: absolute;
    right: ((40px - 12px) / 2);
    top: ((40px - 12px) / 2);
    height: 12px;
    width: 12px;
    margin-top: 0;
    background: url('../images/exit.svg');
    background-size: 100%;
    cursor: pointer;
}

.popup--x.popup--x--white {
    margin-top: 0px;
    background: url('../images/exit-black.svg');
}

.popup.open,
.popup.kyc {
    min-width: 300px;
}

.popup.accounts h2 {
    text-align: center;
}

.popup.accounts .account--right {
    margin-top: -9px;
    padding-left: 20px;
    font-size: 15px;
    float: left;
}

.popup.atom button {
    width: 100%;
    margin-top: 10px;
}

.popup.open {

    // Open Order
    .open--tokens {
        display: flex;
        justify-content: center;
    }

    .open--tokens div {
        position: relative;
    }

    .open--tokens p {
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .open--details {
        margin: 25px 0 15px;
    }

    .open--details span {
        font-weight: 500;
    }

    .button:first-of-type {
        margin-left: 20px;
    }

    .button:last-of-type {
        margin-right: 20px;
    }

    .open--confirm {
        @extend .button;
        background: linear-gradient(180.19deg, $blue-light -125.02%, $blue-bright 98.68%);
        border-radius: 6px;
        margin-bottom: -10px;
        height: 40px;
    }

    .open--cancel {
        @extend .button;
        color: $light-red;
        border-radius: 6px;
        margin-bottom: -10px;
        height: 40px;
    }
}

.popup--blur {
    pointer-events: none;
    // filter: blur(2px);
}

.popup--buttons {
    display: flex;
    height: 40px;
}

.swap--popup {
    padding: 0;
    width: 360px;
}

.metamask-logo {
    width: 30px;
    min-width: 30px;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    position: absolute;
    z-index: 10;
    margin-left: calc(100% - 35px);
    background: $grey-1;
    margin-top: -35px;

    svg {
        width: 20px;
    }
}

.infolabel--p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $grey-12;
}