// #[a-f0-9][a-f0-9][a-f0-9]

$border: rgba(145, 149, 160, 0.1);

$grey-0: #000000;
$grey-1: #21262C;
$grey-5: #21262C;
$grey-6: #282C35;
$grey-7: #282C35;
$grey-8: #282C35;
$grey-9: #282C35;
$grey-10: #888;
$grey-11: #999;
$grey-12: #aaa;
$grey-13: #bbb;
$grey-14: #ddd;
$grey-15: #eee;
$grey-16: #ffffff;

$var0: #E1E1E1;
$var4: #979797;
$var5: #555;
$var6: #DDD;
$var7: #F0F0F0;
$var9: #21262C;


$green: #00a500;
$light-red: #F16262;
$red: #F04545;
$orange: #F45532;
$blue-bright: #006FE8;
$blue-light: #00A8F5;
$background: #fcfcfd;