$images: 'images/';

$off-white: #f8fafb;
$mid-grey: #58585b;
$light-grey: #cccccc;
$dark-grey: #3f3f41;

$light-green: #31CC9A;
$green: #00a500;
$light-red: #F16262;
$red: #F04545;
$orange: #db6500;
$yellow: rgb(244, 183, 50);

$blue-bright: #006FE8;
$blue-dark: #002247;
$blue-darker: #001B3A;

$background: #fcfcfd;