html {
    @extend .hide-scrollbar;

    &.noscroll {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

* {
    font-family: 'PingFang SC',
        Helvetica,
        Arial,
        sans-serif;
}

body {
    font-size: 12px;
    margin: 0;
}

h1 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type=number],
input[type=text],
input[type=password] {
    border: 1px solid $light-grey;
    height: 35px;
    padding: 0 8px;

    &:disabled {
        color: $mid-grey;
    }

    &:focus {
        outline: none;
    }
}

input[type=checkbox] {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: $mid-grey;
}

::-moz-placeholder {
    color: $mid-grey;
}

:-ms-input-placeholder {
    color: $mid-grey;
}

:-moz-placeholder {
    color: $mid-grey;
}

select:focus {
    background-color: $off-white;
    outline: none;
}

button:focus {
    outline: none;
}

button:disabled {
    color: $mid-grey;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

button:not(:disabled):active {
    background-color: $off-white;
}

button .loading:after {
    height: 12px;
    width: 12px;
    border-width: 1px;
}

table th,
table td {
    height: 35px;
    padding: 0 10px;
    text-align: left;
    white-space: nowrap;
}

table th {
    font-weight: 500;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    padding: 20px;
}


.monospace {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
}

.red {
    color: $red;
}

span[role="button"],
label {
    user-select: none;
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

details {
    text-align: left;
    white-space: pre-wrap;
    font-family: monospace;
    color: #556;
}

.mobile-only {
    @media(min-width: $min-md) {
        display: none !important;
    }
}

.no-mobile {
    @media(max-width: $max-sm) {
        display: none !important;
    }
}

.large-only {
    @media(max-width: $max-lg) {
        display: none !important;
    }
}

.no-large {
    @media(min-width: $min-xl) {
        display: none !important;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    /* remove scrollbar space */
    width: 0px;
    height: 0px;
}

button {
    border: 1px solid $light-grey;
    height: 35px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
}

.currency-icon {
    font-weight: 500;
    margin-right: 2px;
}

pre {
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

a {
    color: $mid-grey;
}

.loading--small {
    display: inline-block;
    transform: scale(0.5);
    opacity: 0.8;
    height: 0;
    margin-bottom: 8px;
}

span,
[role="button"],
button {
    user-select: none;
}

.token-value {
    .select--market {
        width: 150px;
        margin-bottom: 30px;
    }
}

.feedbackButton {
    position: fixed;
    right: 55px;
    bottom: 35px;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}