@include themify($themes) {

    .button {
        font-size: 1.6em;
        text-decoration: none;
        height: unset;
        color: white;
        background: linear-gradient(181.51deg, #00A8F5 -201.77%, $blue-bright 93.76%);
        border-radius: 28.8px;
        border: none;
        cursor: pointer;
        padding: 10px 0;
        clear: both;
        width: 100%;
        text-align: center;


        font-weight: 400;
        font-size: 14px;
        text-align: center;

        color: #FFFFFF;

        @media(min-width: $min-sm) {
            // width: auto;
            clear: none;
        }

        @media(min-width: $min-md) {
            display: inline-block;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .button--white {
        @extend .button;
        background: white;
        color: $blue-bright;
        font-weight: 500;
    }

    .button--red {
        @extend .button;
        background: $light-red;
        color: white;
    }

    .button--alt {
        @extend .button;
        color: $blue-bright;
        background: transparent;
        border: 0.1rem solid $blue-bright;
        position: relative;
        transition: color 0.4s ease-in-out;
    }

    .button--success {
        @extend .button--alt;
        color: $green;
        border: 0.1rem solid $light-green;

        &:disabled {
            opacity: 1;
        }
    }

    .button--warning {
        @extend .button--success;
        color: $yellow;
        border: 0.1rem solid $yellow;
    }

    // .button.button--alt:hover {
    //     color: themed('background');
    // }

    // .button.button--alt:before {
    //     content: '';
    //     background-color: $blue-bright;
    //     height: 100%;
    //     width: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     transform: scaleX(0);
    //     transform-origin: right;
    //     transition: transform 0.4s $cubic-bezier;
    // }

    // .button.button--alt:hover:before {
    //     transform: scaleX(1);
    //     transform-origin: left;
    // }

}