.footer2 {
    height: 100vh;
    background-color: #001B3A;
    background-image: url($images + 'footer.png');

    * {
        color: white !important;
    }
}

.footer2--title {
    font-weight: 500;
    font-size: 44px;
    color: #FFFFFF;

    padding-top: 100px;
    padding-left: 100px;
}

.footer {

    position: relative;
    bottom: 100px;

    position: relative;
}

.footer .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 1;
    text-align: center;

    @media(min-width: $min-md) {
        @include flex();
        @include justify-between();
        @include align-start();
        text-align: left;
    }
}

.footer .container>* {
    @include grow();
    width: 100%;

    @media(min-width: $min-md) {
        width: auto;
    }
}

.footer .container>*+* {
    margin-top: 2rem;

    @media(min-width: $min-sm) {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    @media(min-width: $min-md) {
        width: auto;
        margin-top: 0;
    }
}

.footer--logo {
    background-image: url('#{$images}/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
    width: 100%;

    @media(min-width: $min-md) {
        width: 5rem;
        background-position: initial;
    }
}

.footer--links p {
    font-weight: 500;
}

.footer--links p+ul {
    margin-top: 10px;
}

.footer--links li {
    font-size: 1.4rem;
    line-height: 1.8;
}

.copy {
    border-top: 0.1rem solid $border;
    padding: 1rem 0;
}

.copy .container {
    @include flex();
    @include align-center();
    @include justify-between();
}

.copy p {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.copy a {
    font-size: 1.6rem;
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.copy a:hover {
    opacity: 0.8;
}

.copy--social {
    @include flex();
}

.copy--social li+li {
    margin-left: 2rem;
}