@include themify($themes) {

    .header {
        padding: 10px 0;
        margin-bottom: 20px;

        * {
            z-index: 15;
        }
    }

    .header .container {
        display: flex;
        justify-content: space-between;

        flex-direction: row;
        height: 80px;
    }

    .header .container>a {
        align-self: center;
        text-decoration: none;
    }

    .header--logo {
        height: 30px;
        width: 30px;

        svg {
            .ren-logo {
                fill: themed('logo');
            }
        }
    }

    .header--counter-weight {
        width: 200px;

        @media(min-width: $min-md) {
            width: 500px;
        }
    }

    .header--menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 20px 0 0;
        padding: 0;

        justify-content: flex-end;

        width: 200px;

        @media(min-width: $min-md) {
            width: 500px;
        }

        margin: 0;
    }

    .header--menu>li a {
        color: themed('foreground');
    }

    .header--menu>li {
        display: flex;
        flex-shrink: 0;
        position: relative;
        text-align: center;

        font-weight: 500;
        line-height: normal;
        font-size: 12px;

        color: themed('foreground');

        display: flex;
        align-items: center;
        margin: 0 20px;
    }

    .header--menu li {
        @media(min-width: $min-sm) {}
    }

    .header--menu li:last-child {
        @media(min-width: $min-sm) {}
    }

    .header--menu a {
        text-decoration: none;
    }

    .header--account {
        display: flex;
        flex-direction: row;
        padding: 15px 20px;
    }

    .header--account--right {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        font-size: 12px;
        line-height: 20px;
    }

    .header--account--address {
        color: $light-grey;
    }

    .header--account--type::before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-right: 10px;
        -moz-border-radius: 3.5px;
        -webkit-border-radius: 3.5px;
        border-radius: 3.5px;
        background-color: #F45532;
    }

    .header--account--connected .header--account--type::before {
        background-color: #3CBC98;
    }

    .header--dropdown--options {
        text-align: left;
        margin-top: 0;

        img {
            margin-bottom: -1px;
        }
    }

    .header--dropdown--currency {
        @extend .header--dropdown--options;
    }

    .header--mobile-menu--button {
        @extend .mobile-only;
        height: 100%;
        display: flex;
        align-items: center;

        button {
            background: none;
            border: none;
            color: themed('foreground');
            font-size: 20px;
            min-width: 0;

            // Based on measurements for right side of menu
            margin-left: 22px+15px;

            @media(max-width: $max-xs) {
                margin-left: 22px;
            }
        }
    }
}