@include themify($themes) {

    .heading--title {
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;

        color: $mid-grey;

        opacity: 0.6;
    }

    .heading--description {
        display: inline-block;
        margin-left: 10px;
    }

}