.history .history--banner {
    border-bottom: 2px solid #DBE0E8;
    padding-left: 20px;
    margin-bottom: 20px;

    span {
       color: #006FE8; 
       font-size: 12;
       font-weight: 500;
       border-bottom: 2px solid #006FE8;
    }
}


.history .swap--history--entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 22px;
    border: 1px solid #DBE0E8;
    box-shadow: 0 1px 2px 0 rgba(0,27,58,0.05);

    font-size: 12;
    font-weight: 500;
    margin-bottom: 10px;

    .token--info {
        display: flex;
        align-items: center;
    }

    .received--text {
        color: #9FA0A5;
        margin-left: 10px;
        margin-right: 7px;
    }

    .token--amount {
        color: #58585B;
    }

    .swap--time {
        color: #979797;
    }
}