@include themify($themes) {

    .swap--popup {
        padding: 0;
        width: 350px;
    }

    .swap-details {
        color: $mid-grey;
        padding: 20px 0;

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #E1E1E1;
            margin: 1em 0;
            padding: 0;
        }
    }

    .swap-details--section {
        padding: 0 20px;
    }

    .swap-details--values>div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .swap-details--values>div+div {
        margin-top: 20px;
    }

    .swap-details--values--left {
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #979797;
        font-size: 10px;
        text-transform: uppercase;
    }

    .swap-details--values--right--bold {
        font-weight: 500;
        letter-spacing: 0.5px;
        color: $mid-grey;
    }

    .swap-details--values--right--light {
        font-weight: 500;
        font-size: 10px;
        color: $mid-grey;
        opacity: 0.6;
    }

    .swap-details--values--right {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }

    .swap-details--icons {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        span {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            color: $mid-grey;
        }

        .swap-details--icons--arrow {
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 42px;
        }

        >div {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        img {
            width: 52px;
            height: 52px;
            max-width: 52px;
        }
    }

    .swap--cancel {
        @extend .button--red;
        width: calc(100% - 100px);
        margin-bottom: 15px;
        padding: 5px;
        font-size: 10px;
    }

    p.swap--cancel--error {
        @extend .red;
        margin-bottom: 15px;
    }
}