@include themify($themes) {

    .tgl {
        display: none;

        // add default box-sizing for this scope
        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        &+.tgl-btn {
            box-sizing: border-box;

            &::selection {
                background: none;
            }
        }

        +.tgl-btn {
            outline: 0;
            display: block;
            width: 35px;
            height: 15px;
            position: relative;
            cursor: pointer;
            user-select: none;

            &:after,
            &:before {
                content: "";
                display: block;
                position: relative;
                width: 25px;
                height: 25px;
            }

            &:after {
                top: 50%;
                left: -12.5px;
                transform: translateY(-50%);
            }

            &:before {
                display: none;
            }
        }

        &:checked+.tgl-btn:after {
            left: 50%;
        }
    }

    // themes
    .tgl-light {
        +.tgl-btn {
            background-color: #E1E1E1;
            border: 1px solid #D2D2D2;
            border-radius: 100px;
            padding: 2px;
            transition: all 0.4s ease;

            &:after {
                background-color: #F5F5F5;
                border: 1px solid #E1E1E1;
                border-radius: 100px;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
                transition: all 0.4s ease;
            }
        }

        &:checked+.tgl-btn {
            background: linear-gradient(192.06deg, #00A8F5 -24.74%, $blue-bright 90.05%);
            border: none;
        }
    }

}