@include themify($themes) {

    .token-value {
        display: flex;
        justify-content: space-between;

        >div {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        input[type=text],
        input[type=number] {
            border: none;
            background: none;
            font-size: 22px;
            font-weight: 600;
            line-height: normal;
            color: $mid-grey;

            width: 200px;

            &::placeholder {
                color: $mid-grey;
                opacity: 0.55;
            }
        }

        .token-value--item--error {

            input[type=text],
            input[type=number] {
                color: $red;
            }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button,
        input[type=text]::-webkit-inner-spin-button,
        input[type=text]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .token-value--left {
            width: 45%;
        }

        .token-value--right {
            align-items: flex-end;
            width: 100% - 45%;
        }
    }

}