@include themify($themes) {


    .wyre--button,
    .kyber--button {
        padding: 0 10px 0 26px;
    }

    .wyre--button:before,
    .kyber--button:before {
        content: '';
        background-size: cover;
        background-position: left;
        height: 16px;
        width: 12px;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
    }

    .wyre--button:before {
        background-image: url($images + 'wyre.svg');
    }

    .kyber--button:before {
        background-image: url($images + 'kyber.svg');
    }

}

.kyc {
    display: flex;
    flex-flow: column;

    font-size: 14px;

    >div+div {
        margin-top: 20px;
    }

    input[type="text"] {
        font-size: 1.6rem;
        height: 40px;
    }
}

.civic--button,
.kyber--button,
.wyre--button {
    @extend .button;
    @extend .button--alt;
    background: white;

    width: 100%;

    img {
        height: 20px;
    }

    .kyc-flag {
        width: 20px;
        margin-bottom: -5px;
    }
}

.wyre-popup {
    width: 400px;

    button {
        line-height: 40px !important;
    }
}